<launch>

  <node pkg="mmpug_nmea" type="nmea_node" name="nmea_node" output="screen">

    <!-- Velodyne Params -->
	<param name="imu_port" type="string" value="/dev/xsense_VRU200_usb" />
  <param name="imu_baudrate" type="int" value="115200" />
  <param name="use_ethernet" type="bool" value="true" />
  <param name="velodyne_ip" type="string" value="192.168.1.201"/>
  <param name="velodyne_port" type="int" value="10110" />
  <!--param name="use_chrony" type="bool" value="true" /-->
  <param name="chrony_sock" type="string" value="/var/run/chrony.sock" />
  <param name="chrony_latency" type="double" value="0.01" />
  <param name="nmea_baudrate" type="int" value="9600" />
  <param name="nmea_port" type="string" value="/dev/ttyUSB1" />

	<!-- time interval to send nmea message -->
	<param name="time_interval" type="int" value="1" />

  </node>
  
</launch>
